<a href="https://colab.research.google.com/github/tatycalixto/imersao-python/blob/main/Aula01_exemplos_operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operadores Aritméticos, Lógicos e Relacionais

In [3]:
numero1 = 5
numero2 = 2

print(numero1 + numero2)
print(numero1 -  numero2)
print(numero1 * numero2)
print(numero1 / numero2)
print(numero1 // numero2)
print(numero1 % numero2)
print(numero1 ** numero2)

7
3
10
2.5
2
1
25

In [5]:
numero1 = 6
numero2 = 3

print(numero1 < numero2)
print(numero1 > numero2)
print(numero1 <= numero2)
print(numero1 <= numero2)
print(numero1 == numero2)
print(numero1 != numero2)

False
True
False
False
False
True

In [8]:
numero1 = 7
numero2 = 8
print((numero1 > numero2) | (numero1 != numero2))
print((numero1 > numero2) &  (numero1 != numero2))

True
False