<a href="https://colab.research.google.com/github/tatycalixto/imersao-python/blob/main/Lista_Exercicio_Aula_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Temperatura

In [1]:
temperaturas = []
meses = ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"]

for i in range (12):
  temperaturas.append(float(input("Digite a temperatura: ")))

media = sum(temperaturas)/12
print(f"Média de temperaturas do ano: {media}")

for i in range(12):
  if temperaturas[i] > media:
    print(f"Temperatura {temperaturas[i]}ºC do mês {meses[i]} está acima da média Anual\n")

Digite a temperatura: 20
Digite a temperatura: 35.5
Digite a temperatura: 30
Digite a temperatura: 28
Digite a temperatura: 22
Digite a temperatura: 10
Digite a temperatura: 5
Digite a temperatura: 26
Digite a temperatura: 27
Digite a temperatura: 20
Digite a temperatura: 19
Digite a temperatura: 12
Média de temperaturas do ano: 21.208333333333332
Temperatura 35.5ºC do mês Fevereiro está acima da média Anual

Temperatura 30.0ºC do mês Março está acima da média Anual

Temperatura 28.0ºC do mês Abril está acima da média Anual

Temperatura 22.0ºC do mês Maio está acima da média Anual

Temperatura 26.0ºC do mês Agosto está acima da média Anual

Temperatura 27.0ºC do mês Setembro está acima da média Anual

#3. Adivinhação

In [3]:
numeros  = [3,5,7,9,11]

for i in range (5):
  adivinhar_numero = int(input("Digite um número: "))
  if adivinhar_numero in numeros:
    print(f" Número encontrado {adivinhar_numero} na posição {numeros.index(adivinhar_numero)}")
    break
  else:
    print("Número Não encontrado\n")

Digite um número: 11
 Número encontrado 11 na posição 4

#4. Idioma

In [6]:
paises = ["JAPÃO","BRASIL","FRANÇA","CANADÁ","ÁFRICA DO SUL","PORTUGAL","HOLANDA","AUSTRÁLIA"]
idiomas = ["japonês","português","francês","francês,inglês","inglês,zulu,xhosa","português","dutch,inglês,papiamento","inglês,italiano"]

for i in range(9):
  print(f"Digite um país dessa lista {paises} para saber o idioma oficial: ")
  procurar_idioma = input(" ")
  procurar_idioma = procurar_idioma.upper()
  if procurar_idioma in paises:
    print(f"O país {procurar_idioma} possui o idioma {idiomas[paises.index(procurar_idioma)]}")
    break
  else:
    print("País não está na lista:")

Digite um país dessa lista ['JAPÃO', 'BRASIL', 'FRANÇA', 'CANADÁ', 'ÁFRICA DO SUL', 'PORTUGAL', 'HOLANDA', 'AUSTRÁLIA'] para saber o idioma oficial:
 Itália
País não está na lista
Digite um país dessa lista ['JAPÃO', 'BRASIL', 'FRANÇA', 'CANADÁ', 'ÁFRICA DO SUL', 'PORTUGAL', 'HOLANDA', 'AUSTRÁLIA'] para saber o idioma oficial:
 brasil
O país BRASIL possui o idioma português

#4. Idiomas (Usando dicionário)

In [8]:
idiomas ={
    'JAPÃO':'Japonês',
    'BRASIL':'Português',
    'FRANÇA':'Francês',
    'CANADÁ': 'Francês, Inglês',
    'ÁFRICADO DO SUL':'Inglês, Zulu, Xhosa',
    'PORTUGAL':'Português',
    'HOLANDA': 'Dutch, Inglês, Papiamento',
    'AUSTRÁLIA': 'Inglês, Italiano'}

procurar_idioma = input("Digite um nome de um país: ")
procurar_idioma = procurar_idioma.upper()
if procurar_idioma in idiomas:
  print(f"Idioma {idiomas[procurar_idioma]} do pais {procurar_idioma}")
else:
  print('O país informado não está na lista')

Digite um nome de um país: eua
O país informado não está na lista

#5. Carros

In [11]:
carros = []
consumos = []

for i in range (1,6):
  print(f"Veículo{i}: ")
  carros.append(input("Digite o modelo do carro: "))
  consumos.append(float(input("Km por litro: ")))

print("Relatório Final\n")
menor = cont = gasto = custo = 0
modelo_economico = ''

for c in carros:
  custo = 1000/consumos[cont]
  gasto = custo * 5.51
  print("%s - %.1f - %.1f litros - R$%.2f"%(c,consumos[cont],custo,gasto))
  if cont == 0:
    menor  = custo
    modelo_economico = c
    #print("Primeiro if: ",modelo_economico)
  if custo < menor:
    menor = custo
    modelo_economico = c
    #print("Segundo if: ",modelo_economico,"\n")
  cont+=1 # cont = cont +1
print("O menor consumo é de %s"%(modelo_economico))

Veículo1:
Digite o modelo do carro: fusca
Km por litro: 7
Veículo2:
Digite o modelo do carro: gol
Km por litro: 10
Veículo3:
Digite o modelo do carro: uno
Km por litro: 12.5
Veículo4:
Digite o modelo do carro: vectra
Km por litro: 9
Veículo5:
Digite o modelo do carro: peugeout
Km por litro: 14.5
Relatório Final

fusca - 7.0 - 142.9 litros - R$787.14
Primeiro if:  fusca
gol - 10.0 - 100.0 litros - R$551.00
Segundo if:  gol

uno - 12.5 - 80.0 litros - R$440.80
Segundo if:  uno

vectra - 9.0 - 111.1 litros - R$612.22
peugeout - 14.5 - 69.0 litros - R$380.00
Segundo if:  peugeout

O menor consumo é de peugeout