<a href="https://colab.research.google.com/github/tatycalixto/imersao-python/blob/main/Lista_de_Exercicio_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Converter Metros em Centímetros

In [42]:
metros = float(input("Digite um valor em metros:\n"))
centimetros = metros * 100
print(centimetros," centímetros")

Digite um valor em metros:
1
100.0  centímetros

#2. Soma Simples

In [43]:
a = int(input("Digite um valor para a variável a "))
b = int(input("Digite um valor para a variável b "))
soma = a + b
print("SOMA = ",soma)

Digite um valor para a variável a 2
Digite um valor para a variável b 3
SOMA =  5

#3. Nota

In [44]:
nota1 = float(input("Digite a nota1: "))
nota2 = float(input("Digite a nota2: "))
nota3 = float(input("Digite a nota3: "))
nota4 = float(input("Digite a nota4: "))

media = (nota1 + nota2+ nota3+ nota4)/4
print("MÉDIA = ",media)

Digite a nota1: 5
Digite a nota2: 7.1
Digite a nota3: 8.5
Digite a nota4: 9.4
MÉDIA =  7.5

#4. Salário

In [46]:
nome = input("Digite seu nome: ")
horas_trabalhadas = int(input("Digite as horas trabalhadas "))
valor_hora =  float(input("Digite os valor das horas trabalhadas "))
print("Nome: ",nome,"\nSalário = R$ ", horas_trabalhadas*valor_hora)

Digite seu nome: Taty
Digite as horas trabalhadas 100
Digite os valor das horas trabalhadas 5.50
Nome:  Taty
Salário = R$  550.0

#5. Média 2

In [61]:
nota1=float(input("nota 1 "))
nota2=float(input("nota 2 "))
nota3=float(input("nota 3 "))
media = (nota1 * 2 + nota2 * 3 + nota3 * 5) / 10
print("MÉDIA = ",media)

nota 1 10
nota 2 10
nota 3 10
MÉDIA =  10.0

#6. Salário com Bônus

In [47]:
nome = input("Digite do nome do vendedor: ")
salario_fixo = float(input("Digite o salário fixo: "))
total_vendas = float(input("Digite o total de vendas: "))
salario_final = salario_fixo + (total_vendas * 0.15)
print("TOTAL = R$ ","%.2f"%salario_final)

Digite do nome do vendedor: Taty
Digite o salário fixo: 500
Digite o total de vendas: 1230.30
TOTAL = R$  684.54

#7. Jogo de Xadrez

In [58]:
hora_inicio = int(input ("Digite a hora do início do jogo de xadrez: "))
hora_fim = int(input ("Digite a hora do final do jogo de xadrez: "))

if hora_fim > hora_inicio:
  total = hora_fim - hora_inicio
elif hora_fim < hora_inicio:
  total = (24 - hora_inicio) + hora_fim
else:
  total = 24
print("Jogo com",total," de duração")

Digite a hora do início do jogo de xadrez: 12
Digite a hora do final do jogo de xadrez: 12
Jogo com 24  de duração

#8. Conversão de Tempo

In [57]:
import math

valor = int(input("Digite o valor em segundos "))
r_divisao = valor % 3600
horas = valor/3600
minutos = r_divisao/60
segundos = valor % 60
print(math.floor(horas),":",math.floor(minutos),":",math.floor(segundos))

Digite o valor em segundos 7300
2 : 1 : 40

#9. Nota Conceito

In [64]:
nota1 = float(input("Digite nota1: "))
nota2 = float(input("Digite nota2: "))
media = (nota1+nota2)/2
if (media >= 9) & (media <= 10):
  print("Conceito A")
if (media >= 7.5) & (media <= 9):
  print("Conceito B")
if (media >= 6) & (media <= 7):
  print("Conceito C")
if (media >= 4) & (media < 6):
  print("Conceito D")
if (media < 4):
  print("Conceito E")

Digite nota1: 3
Digite nota2: 0
Conceito E

#10. Jogo da Forca

In [ ]:
#estruturas de repetição